<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Score</title>
    <link rel="stylesheet" href="../static/score.css"> <!-- Update CSS path -->
</head>
<body>
    <div class="container">
        <img src="../static/game.jpg" alt="Memory Test Game Image"> <!-- Update image source -->
        <div class="content">
            <h1>Your Score: {{ score }}</h1>
            {% if replay %}
            <!-- Button to replay the current level -->
            <div class="button-container">
                <form action="{{ url_for('display_numbers') }}" method="get">
                    <input type="submit" value="Replay Level">
                </form>
            </div>
            {% else %}
            <!-- Button to move to the next level -->
            {% if level < 15 %}
            <h2>Congratulations! Level {{ level }} Completed.</h2>
            <div class="button-container">
                <form action="{{ url_for('next_level') }}" method="get">
                    <input type="submit" value="Move to Next Level">
                </form>
            </div>
            {% endif %}
            <!-- Display "Congratulations!" message only when reaching the maximum level -->
            {% if level >= 15 %}
            <h2>Congratulations! You have reached the maximum level!</h2>
            {% endif %}
            {% endif %}
            <!-- Button to end the game -->
            <div class="button-container">
                <form action="/end_game" method="get">
                    <input type="submit" value="End Game">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
